$font-stack:    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
@use 'profilePicture';
@use 'pageRows';
@use 'icons';

@mixin button($width) {
  text-align: center;
  border-radius: 8px;
  width: $width;
  background-color: rgb(29, 161, 242);
  color: white;
  height: 35px;
  box-shadow: none;
}

body {
  font-family: $font-stack;
  font-weight: 500;

  .wrapper {
    display: flex;

    #middle-stream-profile, #middle-stream-twits {
      margin-right: 5em;
      margin-left: 5em;
    }

    #middle-stream-profile {
      display: none;

      .profile-name {
        margin-bottom: 0;
        font-weight: bold;
      }

      #profileNearIcon, .personal-description, .personal-description-icon {
        float: left;
        margin-right: 10px;
      }

      .follow-info-wrapper {
        width: 15em;
      }

      .follow-info {
        float: left;
        margin-right: 10px;
      }

      .personal-description-icon {
        padding-top: 1em;
      }

      .personal-description, .personal-description-icon {
        color: #bbb8b8;
        fill: #bbb8b8;
      }

      .sub-text {
        margin: 0;
        color: #bbb8b8;
      }

      .back-icon {
        float: left;
        padding-top: 22px;
      }

      #coverPhoto {
        width: 40em;
        height: 15em;
        z-index: 1;
      }

      .profilePicture {
        width: 8em;
        height: 8em;
        margin-top: -10%;
        margin-left: 20px;
      }

      .edit-profile {
        float: right;
        border: 1px solid rgb(29, 161, 242);
        color: rgb(29, 161, 242);
        background-color: white;
      }

    }

    #side-recommendations {
      width: 80%;
    }

    li {
      list-style-type: none;
      height: 50px;
    }

    .twitterLogo {
      width: 25px;
      height: 25px;
    }

    .tweet-button {
      @include button(180px)
    }

    .menuTitle {
      display: inline;
      padding-left: 2ex;
    }

    .profilePicture {
      .author {
        display: inline;
      }
    }

    .author {
      line-height: 25px;
      padding-left: 8px;
      margin: 0px;
    }

    #middle-stream {
      padding-left: 30px;
      max-width: 1000px;
    }

    .twitter-stream-image {
      max-width: 350px;
    }

    #nameAndProfile {
      display: flex;
    }
  }
}
