body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

li{
    list-style-type: none;
    height: 50px;
}

.wrapper {
    display: flex;
}

.twitterLogo {
    width: 25px;
    height: 25px;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline;
}

.tweet-button {
    text-align: center;
    border-radius: 8px;
    width: 180px;
    background-color: rgb(29, 161, 242);
    color: white;
    height: 35px;
    box-shadow: none;
}

.icon .menuTitle :hover {
    background-color: lightcyan;
    color: cornflowerblue;
}

.menuTitle {
    display: inline;
    padding-left: 2ex;
}

.profilePicture .author {
    display: inline;
}

.author{
    line-height: 25px;
    padding-left: 8px;
    margin: 0px;
}

#side-nav-wrapper #middle-stream #side-recommendations {
    max-width: 33%;
}

#middle-stream {
    padding-left: 30px;
    max-width: 1000px;
}

.twitter-stream-image {
    max-width: 350px;
}

.profilePicture {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#nameAndProfile {
    display: flex;
}